@media (max-width: 767px)
{
    .first-slider .content
    {
        margin-top: 10px;
    }
    .first-slider .content h2
    {
        font-size: 64px;
    }
    .navbar{margin-top: -15px;min-height: 55px}
    .navbar-inverse .navbar-brand img
    {
        width: 120px;
        margin-top: -45px;
    }
    .navbar-inverse .navbar-nav > li > a
    {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .our-services .s-overlay
    {
        padding-top: 0;
    }
    .our-services .s-overlay h2
    {
        font-size: 45px;
        margin-top: 45px;
    }
    .about-us .mohan{margin-bottom: 40px}
    .carousel-indicators li.active{background-color: #158483;margin: 1px}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img
{
    height: auto
}
}



/* Small Screen */
@media (min-width: 768px) and (max-width: 991px)
{
    .navbar{margin-top: 10px;}
    .our-services .s-overlay
    {
        padding-top: 0;
    }
    .our-services .s-overlay h2{margin-top: 20px}
    .about-us .mohan{margin-bottom: 40px}
}



/* Medium Screen */
@media (min-width: 992px) and (max-width: 1199px)
{
    margin-top: 10px;    
}




/* Lage Screen */
@media (min-width: 1200px)
{
    
}